body{
  margin: 20px;
  margin-top: 10px;
  padding: 10;
  background-color: rgb(250, 255, 0)

}

.title {
  position: absolute;
  top: 0px;
  right: 20px;
  color : rgb(48, 252, 42);
  position: absolute;
  font-size:68px;
  z-index: 999;
  font-family: 'Tomorrow', sans-serif;
}

.aboutall {
margin: 10px;
background-color: rgb(182, 66, 255);
width: 300px;
height: 550px;
position: absolute;


}


.text {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  color : rgb(48, 252, 42);
  position: absolute;
  font-size: 20px;
  z-index: 1;
  font-family: 'Open Sans Condensed', sans-serif;
}

canvas {
 background-color: transparent ;
 position: fixed;
 margin: 0;
 padding: 0;

 z-index: 999;

  width: 100%;
  height: auto;
}

.information {
  top: 50px;
  left: 350px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 25px;
  margin-top: 15px;
  padding-left: 10px;
  background-color: white;
  color : rgb(30, 136, 41);
  position: absolute;
  font-size: 20px;
  z-index: 1;
  font-family: 'Open Sans Condensed', sans-serif;
}
