

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffffff;


}

.title{
  margin: 5px;
  padding: 10px 0;
}

.title p{
 font-size: 90px;
 font-family: 'Tomorrow', sans-serif;
 font-weight: 200;
 font-style: normal;
 text-align: center;
 color: rgb(0, 255, 163);
}

.basic {
margin: 0;
padding: 0px 0;
/* padding-right: 20px 5; */
display: grid;
grid-template-columns: auto auto auto;
background-color: rgb(138, 143, 222);


}


.basic li {
  background-color: transparent;
  border: 0px solid transparent;
  padding: 8px;

  text-align: center;

display: inline-block;
 font-family: 'Tomorrow', sans-serif;
width: 100%;
color: rgb(0, 255, 140);
text-align: center;
font-size: 55px;

}

span {
  display: none !important;
}
