body{
  margin: 0px;
  padding 0;
  background-color: rgb(96, 77, 255);

}

.text {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: fixed;
  font-size: 80px;
  z-index: 1;
  font-family: font-family: 'Solway', serif;
  color: rgb(250,255,0);


}

canvas {
 background-color: transparent ;
 position: fixed;
 margin: 0;
 padding: 0;

 z-index: 999;

  width: 100%;
  height: auto;

}


.heart {
margin: 0;



}

.h1 {
position: fixed;
left: 5%;
top: 5%;
width:230px;
height: 200px;
background-size: cover;
background-image: url(images/heart.gif);
z-index: 1000000;
}

.h2{
  position: fixed;
  left: 5%;
  top: 20%;
  width:230px;
  height: 200px;
  background-size: cover;
  background-image: url(images/heart.gif);
  z-index: 1000000;
}

.h3{
  position: fixed;
  left: 5%;
  top: 35%;
  width:230px;
  height: 200px;
  background-size: cover;
  background-image: url(images/heart.gif);
  z-index: 1000000;
}



.h4 {
position: fixed;
left: 75%;
top: 50%;
width:230px;
height: 200px;
background-size: cover;
background-image: url(images/heart.gif);
z-index: 1000000;
}

.h5{
  position: fixed;
  left: 75%;
  top: 65%;
  width:230px;
  height: 200px;
  background-size: cover;
  background-image: url(images/heart.gif);
  z-index: 1000000;
}

.h6{
  position: fixed;
  left: 75%;
  top: 80%;
  width:230px;
  height: 200px;
  background-size: cover;
  background-image: url(images/heart.gif);
  z-index: 1000000;
}
