.erase {
  display: inline-block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  font-size: 100px;
}

canvas {
 background-color: transparent ;
 position: fixed;
 margin: 0;
 padding: 0;
 position: static;

}
